-
  session = session || {}
  
mixin nav(brand)
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#')=`${brand} [${session.user || ''}]`
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        block

mixin nav-item(text,href,icon)
  li.nav-item
    a.nav-link(href=href)
      if icon
        i.fa(class=`fa-${icon}`)
      span=text

mixin nav-drop(text,icon)
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      if icon
        i.fa(class=`fa-${icon}`)
      span=text
    .dropdown-menu(aria-labelledby='navbarDropdown')
      block

mixin nav-drop-item(child)
  a.dropdown-item(href=child.href)=child.text
  if child.icon
    i.fa(class=`fa-${child.icon}`)

if session && session.menus
  +nav(config.APP.title || 'BS-FW')
    +nav-item('Home','/','home')
    each path in session.menus
      - var item = app.config.MENUS[path];
      if item
        if item.children
          +nav-drop(item.text,item.icon)
            each child in item.children
              +nav-drop-item(child)
        else 
          +nav-item(item.text,path,item.icon)
    +nav-item('Logout','/logout','sign-out-alt')

script.
  function report(id){
    $('#modal-report object').attr('data',id);
    $('#modal-repopt').modal('show');
    //$('#modal-report').modal('show');
  }
      
//-
  +nav-item('home','Home','/','home')
  +nav-item('db','Database','/db','database')
  +nav-item('email','Email','/em','at')
  +nav-item('users','Users','/users','user')
  +nav-item('costs','Cost Centres','/cc','dollar-sign')
  +nav-item('ooo','Out Of Office','/apprv_bkp','save')
  +nav-item('logs','PO Logs','/po','clipboard-list')
  +nav-item('quit','Logout','/logout','sign-out-alt')  
//-
  +nav-drop('Development')
    +nav-drop-item('Form Single','/form-s')
    +nav-drop-item('Form Multi','/form-m')
    +nav-drop-item('Datagrid','/grid')
    +nav-drop-item('Tabs','/tabs')
    +nav-drop-item('WLH Test','/wlh')
