-
  session = session || {}
  var _menus = app.get.menus();
  
mixin nav(brand)
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#')=`${brand} [${session.user || ''}]`
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        block

mixin nav-item(item)
  li.nav-item
    a.nav-link(href=item.href data-id=item.id)
      if item.icon
        i.fa(class=`fa-${item.icon}`)
      span=item.text

mixin nav-drop(item)
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(data-id=item.id href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      if item.icon
        i.fa(class=`fa-${item.icon}`)
      span=item.text
    .dropdown-menu(aria-labelledby='navbarDropdown')
      block

mixin nav-drop-item(child)
  - 
    child.report = child.report || {};
    if(child.report.fname) child.report.fname = child.report.fname.replace(/\.prpt$/,'');
  
  a.dropdown-item(href=child.href data-id=child.id)
    if child.icon
      i.fa(class=`fa-${child.icon}`)
    span=child.text

if session && session.menus
  +nav(config.APP.title || 'BS-FW')
    +nav-item({text:'Home',href:'/',icon:'home',id:'home'})
    each path in session.menus
      - var item = _menus[path];
      if item
        if item.children
          +nav-drop(item)
            each child in item.children
              +nav-drop-item(child)
        else 
          +nav-item(item)
    
    +nav-item({text:'Logout',href:'/logout',icon:'sign-out-alt',id:'logout'})

   
//-
  +nav-item('home','Home','/','home')
  +nav-item('db','Database','/db','database')
  +nav-item('email','Email','/em','at')
  +nav-item('users','Users','/users','user')
  +nav-item('costs','Cost Centres','/cc','dollar-sign')
  +nav-item('ooo','Out Of Office','/apprv_bkp','save')
  +nav-item('logs','PO Logs','/po','clipboard-list')
  +nav-item('quit','Logout','/logout','sign-out-alt')  
//-
  +nav-drop('Development')
    +nav-drop-item('Form Single','/form-s')
    +nav-drop-item('Form Multi','/form-m')
    +nav-drop-item('Datagrid','/grid')
    +nav-drop-item('Tabs','/tabs')
    +nav-drop-item('WLH Test','/wlh')
